@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 40px;
    font-variant: small-caps;
    font-family: 'Vibur', cursive;
    font-size: 6vw;
}

header p{
    padding-bottom: 40px;
    
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    
    font-family: 'Borel', cursive;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2.5vw;
   
}

section p{
    padding-bottom: 2em;
}

.normal{
    background-color: white;
    color: black;
}

.imagens{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 0px 6px 4px rgba(0, 0, 0, 0.644);
    background-size: cover;
    background-attachment: fixed;
}

section.imagens p{
    background-color: rgba(0, 0, 0, 0.479);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    
}

#image01{
   background-image: url("../imagens/background001.jpg");
   background-position: right center;

}

#image02{
   background-image: url("../imagens/background002.jpg");
   
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}