body{
    background-color: black;
}
a{
    margin: 0;
    padding: 10px;
    cursor: pointer;
    background-color:  rgba(255, 235, 205, 0);
    box-shadow: 0 0 50px rgb(255, 244, 232);
    text-decoration: none;
    color: white;
    border-radius: 70%;
    
}
 p{
    line-height: 200px;
    text-align: center;
}
.meta{
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    transition-duration: 1.5s;
  
    margin:auto ;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    
    line-height: 200px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.meta:hover{
    border-radius: 50%;
    transform: rotate(360deg);
    width: 250px;
    height: 250px;
    background-color: rgb(255, 193, 118);
    box-shadow: 0 0 25px rgb(255, 185, 100);
    
}
.filha:hover{
    opacity: 1;
}
.filha{
    width: 190px;
    height: 190px;
    background-color: rgb(255, 185, 99);
    margin: auto;
    transition-duration: 1.5s;   
    border-radius: 50%;
    opacity: 0;
}

