
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.btn{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}
ul li{
    list-style-type: none;
    font-weight: bold;
}
.nav2{
    margin-top: 50px;
}
.nav3{
    margin-top: 50px;
}
.nav4{
    margin-top: 50px;
}