@charset "UTF-8";   

/*Estilos para a impressora*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article::after{
    content: "Esse arquivo, foi emprimido através do site www.Aristides.Com.ao:/curso de programaçáo/";
}
article::before{
    content: "Anime.com";
}
article{
    width: 100%;
}