
/*Mdia Query*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
    section{
        width: 90vw;
          
    }

    section .image{     
        float: left;
        width: 40%;
        height: 100%;
    }

    section .form{ 
        float: right;
        width: 60%;
    }

    .form p{
        text-indent: 20px;
    }
    
}

@media screen and (min-width: 1024px) {
    section{
        width: 990px;     
    }

    section .image{
        float: left;
        width: 50%;
        height: 100%;
    }

    section .form{
        float: right;
        width: 50%;
    }
    .form p{
        text-indent: 20px;
        font-size: 1.3em;
    }
}