@import url('https://fonts.googleapis.com/css2?family= Borel & family= Tektur:wght@600 & display=swap') ;

       
body{
    font-family: 'Tektur', cursiva;
    font-size: 16px;
    color: black;
}
h1{
    font-family: 'Tektur', cursiva;
}