/*Configurações gerais*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    background-size: contain; 
    background-repeat: no-repeat;
}
     